@model GoodsTracking.Web.ViewModels.ViewModelBase

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHwapi Tracking</title>
    @Styles.Render("~/content/css")

    <meta name="description" content="GoodsTracking" />
</head>
@{
    string activeController = @ViewContext.RouteData.Values["controller"].ToString();
}
<body>
    <div class="container-fluid">
        <div class="row vertical-align">
            <div class="col-md-4">
                <Img src="~/Content/Images/logo_chwapi.png" class="img-responsive" alt="LOGO">
            </div>
            <div class="col-md-8">
                <h1 class="text-center chwapih1">Gestion de suivi des objets</h1>
            </div>
        </div>
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle collapsed" aria-expanded="false" aria-controls="navbar" type="button" data-toggle="collapse" data-target="#navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="nav navbar-nav">
                        <li class=@(activeController == "Home" ? "active" : string.Empty)>
                            <a href="@Url.Action("Index", "Home")">
                                <i class="glyphicon glyphicon-home"></i>
                                <span>Accueil</span>
                            </a>
                        </li>
                        <li class=@(activeController == "Map" ? "active" : string.Empty)>
                            <a href="@Url.Action("Index", "Map")">
                                <i class="glyphicon glyphicon-map-marker"></i>
                                <span>Map</span>
                            </a>
                        </li>
                        <li class=@(activeController == "Tracker" ? "active" : string.Empty)>
                            <a href="@Url.Action("Index", "Tracker")">
                                <i class="glyphicon glyphicon-plus"></i>
                                <span>Portique</span>
                            </a>
                        </li>
                        <li class=@(activeController == "Container" ? "active" : string.Empty)>
                            <a href="@Url.Action("Index", "Container")">
                                <i class="glyphicon glyphicon-plus"></i>
                                <span>Contenant</span>
                            </a>
                        </li>
                        <li class=@(activeController == "Item" ? "active" : string.Empty)>
                            <a href="@Url.Action("Index", "Item")">
                                <i class="glyphicon glyphicon-plus"></i>
                                <span>Objet</span>
                            </a>
                        </li>
                        <li class=@(activeController == "Active" ? "active" : string.Empty)>
                            <a href="@Url.Action("Index", "Active")">
                                <i class="glyphicon glyphicon-log-in"></i>
                                <span>Démarrer le suivi</span>
                            </a>
                        </li>
                        <li class=@(activeController == "StopTracking" ? "active" : string.Empty)>
                            <a href="@Url.Action("Index", "StopTracking")">
                                <i class="glyphicon glyphicon-log-out"></i>
                                <span>Arrêter le suivi</span>
                            </a>
                        </li>
                        <li class=@(activeController == "Search" ? "active" : string.Empty)>
                            <a href="@Url.Action("Index", "Search")">
                                <i class="glyphicon glyphicon-search"></i>
                                <span>Tracking</span>
                            </a>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>

        <div class="container">
            @RenderBody()
        </div>
    </div> <!-- /container -->
</body>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
@if (Model != null && !string.IsNullOrWhiteSpace(Model.Notification))
{
    <script type="text/javascript">
        $.toaster({ priority: 'success', 
            title: 'Message',
            message: '@Model.Notification',
            settings: { timeout: 5000 }
            });
    </script>
}
</html>
