@model GoodsTracking.Web.ViewModels.HomeViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("AddTracker", "Home", FormMethod.Post, new { @class = "form-signin", @id = "addTrackerForm" }))
{
    <div class="row">
        <div class="col-md-6">
            @Html.LabelFor(m => m.ContainerIdentifier, "Contenant (obligatoire)");
        </div>
        <div class="col-md-6">
            @Html.TextBoxFor(m => m.ContainerIdentifier, new { @required = "required", @autofocus = "autofocus", @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6">
            <label for="inputItem">Contenu (obligatoire)</label>
        </div>
        <div class="col-md-6">
            @Html.ValidationMessageFor(m => m.ItemIdentifiers)
            <div id="fields"></div>
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-md-6">
            @Html.LabelFor(m => m.ContainerIdentifier, "Commentaires (facultatif)");
        </div>
        <div class="col-md-6">
            @Html.TextBoxFor(m => m.ContainerComments, new { @class = "form-control" })
        </div>
    </div>

    <br />
    <button class="btn btn-lg btn-primary btn-block" type="submit">Activer la traçabilité</button>
}
@*@{

        if (Model != null && !string.IsNullOrEmpty(Model.ContainerComments))
        {

            <div>
                @Html.Label("test");
            </div>
        }

    }*@
<script type="text/javascript">
    $(document).ready(function () {
        var relationHtml = '@Html.TextBox("ItemIdentifiers[{id}]",null,new { @class= "item form-control" })';
        var $fields = $('#fields');
        addItem(false);
        /*
         * Deactivate enter on form
         */
        $("#addTrackerForm").keypress(function (event) {
            if (event.which == '13') {
                event.preventDefault();
            }
        });

        function addItem(autofocus) {
            var itemCount = $(".item").length;
            if (itemCount > 0) {
                var itemValue = $($(".item")[itemCount - 1]).val();
                if (itemValue == null || itemValue == "") {
                    return;
                }
            }

            $(".item").off("keyup");

            $("#fields").append($("<div class='form-group  has-feedback'>" + relationHtml.replace("{id}", itemCount) + "<span id='icon_{id}' class='glyphicon glyphicon-plus form-control-feedback'></span></div>".replace("{id}", itemCount)));

            if (itemCount > 0)
                $(".item")[itemCount].focus();

            $($(".item")[itemCount - 1]).siblings('span').hide()
            $($(".item")[itemCount]).keyup(function (e) {
                if (e.keyCode == 13) {
                    addItem(true);
                }
            })
        };
    });
</script>
